.title {font-family: Roboto}
body {
	margin: 0px;
}

.main-section {
	margin: auto;
	width: 80;
}
.wrapper {
	margin: auto;
	width: 80%;
}

.header {
	padding: 40px 0px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 8.5%;
}
/*.logo, .menu{
	display: inline-block;
}*/
.logo {
	font: bold 27px/31px pt_serif, arial, helvetica, sans-serif;
	font-weight: bold;
	width: 190px;
	height: 35px;
	background: url('img/logo.svg');
	position: relative;
	border: 1px red;
}
.logo_cirvle{
	width: 28px;
	height: 28px;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	border-radius: 50%;
	opacity: .7;
}
.logo__circle_color_dark-blue{
	background: #0056EC;
}
.logo__circle_color_blue{
	left: 8px;
	top: 56%;
	background: #C8DBFB;
}
.menu{
	display: flex;
	align-items: center;
.class: not(:last-child);
}
.menu__item{
	position: relative;
	margin: 0px 21px;
	font: 500 16px/7px Roboto,arial,helvetica,sans-serif;
	color: #000;
	text-decoration: none;
	transition: opacity .5s;
}
.menu__item:last-child{
	margin-right: -56px;
}
.menu__item_active::after{
	display: block;
	content:'';
	width: 68px;
	height: 3px;
	background: #0056EC;
	position: absolute;
	left: 0;
}
.menu__item:hover{
	color: red;
	opacity: 0.5;
}
.menu__item:hover:after{
	position: absolute;
	left: 0;
	display: block;
	content: '';
	width: 100%;
	height: 3px;
	background: #0056EC;
}
.menu__item::after{
	position: absolute;
	display: block;
	content: '';
	width: 100%;
	height: 3px;
	background: #0056EC;
	opacity: 0;
	left: 0px;
}
.menu__item:hover::after{
	position: absolute;
	left: 0;
	display: block;
	content: '';
	width: 100%;
	height: 3px;
	background: #0056EC;
	color: #000;
}
.menu__item:hover:after, .menu__item_active:after{
	opacity: 1;
}
.main{
	padding: 43px 63% 275px 0;
	background: top right no-repeat url('img/Frame.svg');
	background-size: 49em;
}
.main-content{
	padding-top: 1%;
	background: url('img/Frame.svg');
	background-repeat: no-repeat;
	background-position: 98% 0;
	background-size: contain;
	padding-bottom: 8%;
}
.main-content__title{
	margin-bottom: 32px;
	font: bold 68px/87px pt_serif,arial,helvetica,sans-serif;
	width: 48%;
}
.main-content__subtitle{
	margin: 37px 0 38px 0px;
	font: 31px/26px Roboto,arial,helvetica,sans-serif;
	width: 32%;
}
.main{
	padding-top: 100px;
	width: 40%;
}

.main__title-text_highlight{
	background: #ECF3FF;
}
.main__button {
	display: inline-block;
	font: 500 18px/21px Roboto,arial,heletica,sans-serif;
	color: #fff;
	background: #0056EC;
	padding: 19px 41px 20px 20px;
	text-decoration: none;
	border-radius:4px;
	transition: opacity .5s ease;
}
.main__button:hover {
	opacity: .5;
}
.title{
	font-family:
}
@media(max-width: 1500px) {
	.wrapper{
		width: 68%;
	}
	.menu__item{font-size: 14px;line-height: 16px;}

	.main-content{
		
padding-top: 0;
	}
	.main-content__title{
		font-size: 50px;
		line-height: 66px;
		padding-top: 2%;
		margin-bottom: 4%;
	}
	.main-content__subtitle{
		font-size: 18px;
		line-height: 21px;
		width: 39%;
	}
	.main__button{
		font-size: 14px;
		line-height: 16px;
		padding: 13px 21px;
	}
	.main-content{
		background-position: 100% 0;
	}
}
@media(max-width: 1290px) {
	.logo{
		width: 190px;
	}
	.wrapper{
		width: 91%;
	}
	.menu__item{font-size: 14px;line-height: 15px;}

	.main-content{
		
padding-top: 0px;
	}
	.main-content__title{
		font-size: 50px;
		line-height: 64px;
		padding-top: 2%;
		margin-bottom: 0%;
	}
	.main-content__subtitle{
		font-size: 18px;
		line-height: 27px;
		width: 41%;
	}
	.main__button{
		font-size: 14px;
		line-height: 11px;
		padding: 12px 20px;
	}
	.main-content{
		background-position: 100% 0;
	}


}
@media(max-width: 768px) {
.label{
	background: no-repeat 100% url('img/burger.svg');
	position: absolute;
	top: 38px;
	right: 33px;
	padding: 15px;
}
.menu{
	display: none;
}
.menu-open{
	display: block;
}

.main{
	text-align: center;
	padding: 74% 0 0;
	background-size: 74%;
	background-position: top center;
}
.main-content__title{
	text-align: center;
	padding-top: 250px;
	font: bold 38px/50px pt_serif,arial,helvetica,sans-serif;
}
.main__title{
	text-align: center;
	margin-bottom: 44px;
	font: bold 30px/50px pt_serif,arial,helvetica,sans-serif;
}
.main-content__subtitle{
	text-align: center;
	font: 20px/20px Roboto,arial,helvetica,sans-serif;
	width: 97%;
}
.main__subtitle{
	margin-bottom: 34px;
	font: 500 37px/54px Roboto,arial,helvetica,sans-serif;
}
.main__buttom{
	font: 500 14px/16px Roboto,arial,helvetica,sans-serif;
}
}
#burger:checked ~ .menu {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 100%;
}

#burger:checked ~ .menu {
	position: absolute;
	background-color: #fff;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100vh;
	width: 100%;
}

#burger:checked ~ .label {
	transition: ease .3s;
	z-index: 2;
}

input {
	display: none;
}
